/* Write your CSS here */
.container {
  background-color: #1c1c2b;
  padding: 10px;
  margin-bottom: 10px;
}

.heading {
  color: #cbd5e1;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Roboto';
}
